
<div class="panel panel-default news">
	<div class="panel-heading">
    	<h3 class="panel-title">НОВОСТИ</h3>
    </div>
    <div class="panel-body">
    
    <% @microposts.each do |post| %>

		<!-- <a class="post" href="#"> -->
		<div class="post">
			
			<h5><%= post.title%></h5>
			<p class="text-justify">
			<!-- <blockquote><small> -->
			<% if post.content.length > 70 %>
				<%= post.content[0..70]%>
				<a href=<%= "#{news_path}/?news=#{post.id}"%> class="clr-brand"> далее>></a>
			<% else %>
				<%= post.content %>
			<%  end %>
			</p>
			<!-- </small></blockquote> -->

		</div>
		
		<hr/>
		
	<% end %>
	</div>
	<%= will_paginate @microposts %>
</div>

