<%= form_for([:admin, @project], html:{role: 'form'}) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form-group">
    <%= f.label :name, "Наименование проекта:", class: "control-label" %><br>
    <%= f.text_field :name, :size => 75, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body, "Описание:", class: "control-label" %><br>
    <%= f.text_area :body, :size => '48x6', :id => 'markdown', class: "form-control" %>
  </div>

  <div class="form-group">
  <!-- Тэги разносим по 3-м столбцам -->
    <%= f.label "Тэги:" %>
    <div id="tags" class="row">
      
      <% for tag in Tag.find(:all) %>
        <div class="col-sm-8 col-md-8 col-lg-8">
          <%= check_box_tag "project[tag_ids][]", tag.id, @project.tags.include?(tag) %>
          <%= tag.name %>
        </div>
      <% end %>

    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Принять', :class => 'btn btn-success' %>
  </div>
<% end %>
