<div class="container-fluid">

  <!-- < render 'navbar'  -->
  <%= nsi_navbar :project %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Наименование</th>
      <th>Содержимое</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td>
          <div>
            <%= project.body[0..150]+' ...' %> <br>
            <strong>  <%= get_tags_str(project) %> </strong>
          </div>
        </td>
        <td><%= link_to 'Просмотр', eval(nsi_path(nsi_name, :show, {id: project[:id]})), :class=>'btn btn-success' %></td>
        <td><%= link_to 'Изменить', eval(nsi_path(nsi_name, :edit, {id: project[:id]})), :class=>'btn btn-warning' %></td>
        <td><%= link_to 'Удалить', eval(nsi_path(nsi_name, :show, {id: project[:id]})), method: :delete, data: { confirm: 'Вы уверены?' }, 
          :class=>'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>