<div class="container-fluid">
	<%= nsi_navbar nsi_name %>

	<p id="notice"><%= notice %></p>
	<div class="show">
	<p class="caption">
		<strong>Наименование тэга:</strong>
	</p>
	<p class="value">
  		<%= @project.name %>
	</p>
	</div>


	<div class="show">
	<p class="caption">
	  <strong>Содержание:</strong>
	</p>
	<div class="value">
	  <%= markdown(@project.body) %>
	</div>
	</div>
	<div class="show">
		<p class="caption">
		  <strong>Тэги:</strong>
		</p>
		<!-- <p class="value"><%= get_tags_str @project%></p> -->
		<%= render :partial => 'tag', :collection => @project.tags %>
		<%= debug(params) %>

	</div>


</div>