<%= javascript_include_tag "services" %>
  <!--
	<div class="container-fluid">
		<h4 class="pull-right clr-brand" >НАПИСАТЬ</h4>
	</div>	
	<div>
		<% link_to 'Письмецо', testmailer_path %>
	</div>
-->
	<div class="container-fluid">
		<h4 class="pull-right clr-brand" >КОНТАКТЫ</h4>
	</div>

	<div class="well">
		<address>
  			<strong><%= CFG(:name) %>:</strong><br>
  			<%= CFG(:address1) %><br/>
			<%= CFG(:address2) %><br>
			<br>
			<%= CFG(:phone_footer) %><br>
			<%= CFG(:email) %>
		</address>
		
		<p><a href='www.edas-design.ru'> www.edas-design.ru </a></p>
	</div>

	<div class="container-fluid">
		<h4 class="pull-right  clr-brand">СХЕМА ПРОЕЗДА</h4>
	</div>

	<div id="map" style="width:100%;height: 400px;"></div>
	
