<!-- ---
layout: default
title: Проекты
comment: Список доступных для просмотра проектов.
id: page-projects
gallery: projects/
---
 -->
<div class="row">
	
	<aside class="col-md-6">
		<div class="list-group submenu">
			<a href="<%= projects_path %>" class="list-group-item <%= 'active' if @tag.nil? %>">
					<span class="badge"><%= Project.count %></span>
					Все проекты
			</a>
			<% Tag.all.order('name').each do |tag| %>
				<a href=<%= "#{projects_path}/?tag=#{tag.id}" %> 
					class="list-group-item <%= 'active' if @tag == tag.id.to_s %>">
					<span class="badge"> <%= tag_used tag.id %></span>
					<%= tag.name %>
				</a>

			<% end %>

		</div>
	</aside>
	<section class="col-md-18">
		
		<% unless @project.nil? then %>
			<div class="project">
				<blockquote><%= @project.name %></blockquote>
            	<%= markdown(@project.body) %>
            </div>
        <% else %>
    		<%= will_paginate @projects %>    
			<div>
			  <% @projects.each do |prj| %>
				<blockquote>
			  	  <a href=<%= "#{projects_path}/?project=#{prj.id}" %> >
        			<h4> <%= prj.name %> </h4>
            		<small>ОТРАСЛИ: <%= get_tags_str prj %></small>
        	  	  </a>
        		</blockquote>
          	  <% end %>

    		</div>
    		<%= will_paginate @projects %>
    	<% end %>
	</section>
</div>

