<div class='navbar navbar-default'>
	<div class='navbar-brand'>
		<%= nsi_getTitle_navbar params[:action] %>
	</div>

		
	<%= link_to('Добавить новость', new_micropost_path, 
		:class=>nsi_get_btn_class_navbar(params[:action], 'new'))  %>
	<%= link_to('Просмотр', @micropost, 
		:class=>nsi_get_btn_class_navbar(params[:action], 'show')) %> 
	<%= link_to('К новостям', microposts_path, 
		:class=>nsi_get_btn_class_navbar(params[:action], 'list')) %>
	<%= link_to "В администрирование", admin_path, :class => 'btn btn-default navbar-btn pull-right' %>
</div>