<footer >
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 address">
        <h3> Адрес </h3>
        <p>
          <%= CFG(:address1) %>
          <br>
          <%= CFG(:address2) %>
          <br>
          </p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 phones">
        <h3> Телефоны </h3>
        <p> <%= CFG(:phone_footer) %>
        </p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mail">
        <h3> Почта </h3>
        <p>
          <%= CFG(:email) %>
        </p>
      </div>
      
      <div class="logo">
        
        <%= CFG(:logo) %>
      </div>

    </div>  
    
  </div>
</footer>
 
