<header>
    <div class="container">
        <div class="row">
            <p class="col-sm-4 col-md-4 col-lg-4"><%= CFG(:name) %></p>
            <p class="col-sm-8 col-md-8 col-lg-8"><%= CFG(:caption) %></p>
            <p class="pull-right"><%= CFG(:phone_header) %></p>
        </div>
    </div>
    <a href="<%= root_path %>">
    <div class="brand">
      <div class="container">
        <table class="table">
            <tbody class="row">
            <tr>
                <td class="col-sm-16 col-md-16 col-lg-16" id="title" style="vertical-align:middle;">
                    <%= image_tag("edas-logo.png", width: '90%') %>
                    <!-- <img src="/images/edas-logo.png" width="90%"> -->
                </td>
                <td class="col-sm-8 col-md-8 col-lg-8" style="vertical-align:bottom;">
                    <p class="pull-right nomargin"><%= CFG(:caption) %></p>
                </td>
            </tr>
           </tbody>

        </table>
      </div>
    </div>
    </a>

</header>