<div class="menu container">
    <nav class="navbar navbar-default">
  
        <ul class="nav nav-pills nav-left" role="menu" aria-labelledby="dLabel" id="menu">
        <!-- col-sm-6 col-md-6 col-lg-6 -->
            <li <%= nav_active('about')%> ><%= link_to 'О КОМПАНИИ |', about_path %></li>
            
            <li <%= nav_active('tools')%> ><%= link_to 'УСЛУГИ |', tools_path %></li>
            
            <li <%= nav_active('projects')%> ><%= link_to 'ПРОЕКТЫ |', projects_path %> </li>

            <li <%= nav_active('contacts')%> ><%= link_to 'КОНТАКТЫ |', contacts_path %> </li>
        </ul>
    
    </nav>
</div>

