<!DOCTYPE html>

<%= render 'layouts/head' %>

<body>
  <div class="top">
    <!-- Тут должен быть баннер -->
    <%= render "layouts/header" %>
    <%= render 'layouts/navigation' %>
  </div>
  <div class="wrapper container">
     
    <%= render 'layouts/pageheader' %>
               
    <%= yield %>
    
  </div>
  <%= render 'layouts/footer' %>
  <!-- bootstrap -->
  <%= javascript_include_tag "jquery-2.1.0.min.js" %>
  <%= javascript_include_tag "bootstrap.min.js" %>

  
  
</body>
</html>
